<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Resultado da busca</title>
	<style>
		@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
	</style> 
</head>
<body>
	<h1 style="text-align:center; color: #3E4B5E; font-family: 'Open Sans Condensed', sans-serif;">Lista de links</h1>
	
	<% if(study_links.length > 0){ %>
	<table style="width: 70%; margin: auto; box-shadow: 0px 0px 10px black;">
			<thead style="background-color: #009cdf; color: white;">
				<th>Título</th>
				<th>Link</th>
				<th>Categoria</th>
				<th>Ações</th>
			</thead>
			<tbody class="study_link" style="background-color: #7a7a7a; color: white;">
				<% for(var i = 0; i < study_links.length; i++) { %>
				<tr class="study_link">
					<td><%= study_links[i].title %></td>
					<td><%= study_links[i].link %></td>
					<td><%= study_links[i].category %></td>
					<td>
						<a style="color: #009cdf" href="update?action=alt&id=<%= study_links[i].id %>">Atualizar</a>
						<a style="color: #009cdf" href="delete?action=del&id=<%= study_links[i].id %>">Lido</a>
					</td>
				</tr> 
				<% } %>
			</tbody>
	</table>
	<%} else {%>
			<h1 style="text-align:center; color: #3E4B5E; font-family: 'Open Sans Condensed', sans-serif;">Nada encontrado!</h1>
	<% } %>

	<p style="text-align:center">
	<a href="http://localhost:3000/registry"><button>Cadastro de links</button></a></p>
	<p style="text-align:center">
	<a href="http://localhost:3000/search_title"><button>Busca por título</button></a></p>
	<p style="text-align:center">
	<a href="http://localhost:3000/search_category"><button>Busca por categoria</button></a></p>
	<p style="text-align:center">
	<a href="http://localhost:3000/"><button>Página inicial</button></a></p>
</body>
</html>